body{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

header{
    border: 2px solid black;
    border-radius: .5rem;
    text-align: center;
    font-size: calc(.8rem + 1vw);
}

nav{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0.5rem;
    text-align: center;
    font-size: calc(.5rem + 2vw);
}

main{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: .5rem;
    gap: .5vh;
    padding: .5vh;
}

article{
    text-align: center;
    border: 2px solid black;
    border-radius: .5rem;
    height: 33%;
}

article > h2{
    font-size: calc(.5rem + 2vw);
}

footer{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

footer > h2, a{
    font-size: calc(1rem + 1vw);
}


@media screen and (min-width: 640px) and (max-width: 1007px){
    body{
        display: grid;
        grid-template-columns: 15vw 80vw;
        grid-template-rows: 10vh 75vh 10svh;
    }

    header{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    nav{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    main{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    footer{
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

@media screen and (min-width: 1008px){
    body{
        display: grid;
        grid-template-columns: 20vw 78vw;
        grid-template-rows: 20vh 55vh 20vh;
    }

    header{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    nav{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    main{
        display: flex;
        flex-direction: row;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    article{
        height: 99%;
    }

    footer{
        grid-column: 1/3;
        grid-row: 3/4;
    }
}